{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Project Space | Login</title>
{% endblock %}

{% block extra_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}

{% block content %}
        <section class="galeria" style="margin-left: 5em">
            <form action="{% url 'login' %}" method="POST">
                {% include 'partials/_form_rows.html' %}
                <div>
                    <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Login</button>
                </div>
            </form>
        </section>
    </main>
</div>
{% endblock %}